build
.vscode
files/test/permission-denied.txt
files/words*
files/test/save.txt
.idea
*.result
**.words
**.time
*.tar.gz
results/*.time
results/*.words
results/*.csv
results/*.txt
t.txt
spartan
test.sh
*.out
*.err
